/* Importação da fonte do Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Arima:wght@100..700&display=swap');

/* Resetando margens, preenchimentos e definindo box-sizing para todos os elementos */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Arima", sans-serif; /*Fontes que serão utilizadas*/
    scroll-behavior: smooth; /* Adiciona uma rolagem suave */
}

body{
    overflow-x: hidden;
}

/* Definindo cores principais da paleta para fácil manutenção */
:root{
    --cor-principal: rgb(56, 133, 124); /*Cor para fachada e rodapé*/
    --cor-secundaria: rgb(255, 255, 255); /*Cor para o body*/
    --cor-terciaria: rgb(255,255,255); /*Cor para o contraste com a primária*/
    --cor-fonte: rgb(0,0,0); /*Cor para a fonte de conteúdo*/
}

/* Estilizando o cabeçalho do site */
header{
    width: 100%;
    height: 220px;
    border: 1px solid var(--cor-principal);
    background-color:  var(--cor-principal);
    color: var(--cor-terciaria);
    text-align: center;
}

.logo{
    margin-right: 11px;
    padding-top: 5px;
    height: 150px;
}

/* Estilizando o botão para mudar o tema */
.tema{ 
    height: 10px;
    padding: 5px;
    padding-top: 10px;
    margin: 2px;
    border: none;
    background-color: var(--cor-principal);
    color: var(--cor-terciaria);
    font-size: 1.5rem;
}

.tema:hover{
    font-size: 1.6rem;
    transition:font-size 1s; /*Transição para o aumento da fonte*/
    cursor: pointer;
}

/* Estilizando o menu de navegação em desktop */
.menu-desktop{
    display: flex; /*Deixa os itens lado a lado quando há espaço*/
    justify-content: space-between; /*Espaçamento do conteúdo*/
    width: 100%;
}

.nav-list{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center; /*Centraliza os itens*/
    width: 100%; /*Faz com que utilize toda a largura disponível*/
}

.nav-list ul{ /*Acessa a lista de nav-list*/
    display: flex;
    justify-content: center;
    list-style: none; /*Remove o sublinhado*/
    padding: 10px 0px;
    margin: 0;
    margin-right: 40px;
}

.nav-item{
    margin: 0 100px; /**Distância entre os itens*/
}

.nav-link{
    text-decoration: none;
    color: var(--cor-terciaria);
    font-weight: 500;
    font-size: 1.5rem;
}

.nav-link:hover{
    font-size: 1.6rem;
    transition: 0.5s;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-menu{
    width: 900px;
    margin-left: -400px; /* Centraliza o menu */
    margin-top: 8px;
    display: none;
    position: absolute;
    z-index: 1;
    border: solid 1px black;
    background-color: var(--cor-principal);
    color: var(--cor-terciaria);
}

.dropdown-menu a {
    color: var(--cor-terciaria);
    padding: 12px 16px;
    text-decoration: none;
    display: inline-block;
    width: auto;
    flex: 0 0 48%;
}

.dropdown-menu a:hover {
    font-size: 1.4rem;
    transition: 0.5s;
}

.show{
    display: flex;
    flex-wrap: wrap;
    gap: 5px 10px;
}

.botao-dropdown{
    border: none;
    background-color: var(--cor-principal);
    color: var(--cor-terciaria);
    font-weight: 500;
    font-size: 1.5rem;
    cursor: pointer;
}

.botao-menu-mobile{
    display: none;
}

.menu-mobile{
    display: none;
}

.menu-mobile.abrir-menu{
    display: block;
}

.conteudo{
    width: 100%;
    min-height: 80vh; /*Comprimento min.*/
    font-weight: 400;
    border: 1px solid var(--cor-secundaria);
    background-color: var(--cor-secundaria);
    color: var(--cor-fonte);
    padding: 20px; /*Espaçamento*/
}
/*estilizando a search bar*/
#search-bar{
    display: flex;
    justify-content: center;
}

.input-group{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFF;
    border: 1px solid var(--cor-principal);
    padding: 8px 16px 8px 8px;
    border-radius: 24px;
    gap: 8px;
    width: 50%;
    margin: 10px;
}

.input-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 5px;
}

.input-field{
    width: 100%;
    border: none;
    background-color: transparent;
}

.input-field:focus{
    outline: none;
}

.item{
    list-style: none;
}
/*Estilizando a área do mapa*/
.local{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 50px;
}

.local h2{
    margin-bottom: 10px;
    font-weight: 500;
}

#mapa{
    border: 2px solid var(--cor-principal);
    width: 50%; /* O mapa ocupa 50% da tela */
    height: 300px;
}

#mapa iframe{
    width: 100%;
    height: 100%;
}

.container{
    width: 20%; /* Ocupa apenas 18% da tela */
    padding-top: 3px;
    padding-left: 10px;
    margin: 0; /* Gruda com o hr */
    border-color: var(--cor-principal);
    background-color: var(--cor-principal);
    text-align: left;
    color: var(--cor-terciaria);
}

hr{
    border: 1px;
    margin: 0; /*Deixando grudado ao container*/
    height: 2px;
    background-color: var(--cor-principal);
    width: 100%;
}

/* Configurando o layout do container de imagens */
.image-container {
    display: flex;
    flex-wrap: wrap; /* Permite que as figuras se movam para a linha seguinte */
    justify-content: space-between; /* Distribui o espaço entre as figuras */
    margin: 30px; /* Espaçamento entre as imagens */
}

.produto {
    flex: 1 1 calc(25% - 10px); /* Ajusta a largura para 25% menos a margem */
    max-width: 20%; /* Define uma largura máxima para cada produto */
    text-align: center; /* Centraliza o texto */
}

figure {
    display: flex;
    align-items: center; /* Alinha verticalmente imagem e legenda */
    max-width: 40%; /* Calcula a largura de cada figura para caber duas na linha */
    min-width: 350px;
    margin: 10px 18px;
}

figure:hover{
    max-width: none;
    width: 50%;
    position: relative;
}

figure hr{
    width: 450px;
    max-width: 85%; /* torna o hr responsivo */
}

figure img {
    max-width: 20%; /* Tamanho da imagem */
    height: auto;
}

figcaption {
    font-size: 1.4rem;
    margin-left: 10px; /* Distância da legenda até a imagem */
    padding-bottom: 10px;
}

figcaption p{
    font-size: 1.2rem;
    max-width: 75%;
}

figcaption label{
    font-size: 1.2rem;
    max-width: 75%;
}

.carrossel{
    margin: 30px auto;
    width: 800px;
    height: 400px;
    overflow: hidden; /*Esconde as outras imagens*/
}

.slides{
    width: 400%;
    height: 400px;
    display: flex; /*Deixa as imagens lado a lado*/
}

.slides input{
    display:none; /*Esconde os botões*/
}

.slide{
    width: 25%; /*As imagens ocupam 25% do tamanho total*/
    position: relative; /*Faz com que as imagens se movam*/
    transition: 2s; /*Atrasa a transição*/
}

.slide img{
    width: 800px;
}

.navegacao-manual{
    position: absolute;
    width: 800px;
    margin-top: -40px; /*Margem em relação ao topo da imagem*/
    display: flex;
    justify-content: center;
}

.manual-button{
    border: 2px solid #FFF;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer; /*Muda o cursor*/
    transition: 1s;
}

.manual-button:not(:last-child){
    margin-right: 40px; /*Todos os botões (menos o ultimo, "last child") terão espaçamento na direita*/
}

.manual-button:hover{
    background-color: #FFF; /*Quando o cursor estiver em cima, o fundo mudará de cor*/
    transition: 1s;
}

/*CRIANDO O DESLIZE DE IMAGENS*/
#radio1:checked ~ .first{
    margin-left: 0; /*Quando o primeiro botão estiver pressionado, a margem será 0*/
}

#radio2:checked ~ .first{
    margin-left: -25%; /*Quando o segundo botão estiver pressionado, a margem será -25*/
}

#radio3:checked ~ .first{
    margin-left: -50%; /*Quando o terceiro botão estiver pressionado, a margem será -50*/
}

#radio4:checked ~ .first{
    margin-left: -75%; /*Quando o quarto botão estiver pressionado, a margem será -75*/
}

.auto-navegacao div{ /*Define a aparencia de todos os elementos dentro da div*/
    border: 2px solid #2600ff;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.auto-navegacao{
    position: absolute;
    width: 800px;
    margin-top: 360px; /*Margem em relação ao topo da página*/
    display: flex;
    justify-content: center;
}

.auto-navegacao div:not(:last-child){
    margin-right: 40px; /*Todos os botões (menos o ultimo, "last child") terão espaçamento na direita*/
}

#radio1:checked ~ .auto-navegacao .auto-button1{
    background-color: #FFF; /*Muda o fundo do botão*/
}

#radio2:checked ~ .auto-navegacao .auto-button2{
    background-color: #FFF; /*Muda o fundo do botão*/
}

#radio3:checked ~ .auto-navegacao .auto-button3{
    background-color: #FFF; /*Muda o fundo do botão*/
}

#radio4:checked ~ .auto-navegacao .auto-button4{
    background-color: #FFF; /*Muda o fundo do botão*/
}

/*Estilizando o formulario*/
.formulario{
    display: flex;
    flex-direction: column; /*Organiza os itens verticalmente, de cima para baixo.*/
    justify-content: center;
    align-items: center;
}

.formulario h2{
    margin: 80px;
    margin-bottom: -70px;
    font-weight: 500;
}

/*Estilizando o caixa formulario*/
.box-formulario{
    width: 50%; 
    min-height: 100px;
    margin: 80px 0px;
    padding: 20px;
    border: 3px solid var(--cor-principal);
    border-radius: 15px;
    display: flex;
    flex-direction: column; /*Organiza os itens verticalmente, de cima para baixo.*/
    justify-content: center;
    font-size: 1.2rem;
    color: var(--cor-fonte);
}

.box-formulario input, textarea{
    padding-left: 10px;
    box-sizing: border-box;
    border: 2px solid var(--cor-principal);
    border-radius: 10px;
    width: 100%;
    margin: 3px 0;
    font-size: 1rem;
    resize: none; /*Não permite que o usuário redimensione a área de texto*/
}

.span-required{
    color: red;
    display: none;
    font-size: 1rem;
}

.botao-formulario{
    background-color: var(--cor-principal);
    color: var(--cor-secundaria);
    width: 100%;
    cursor: pointer;
}

/* Estilizando o rodapé da página */
footer{
    display: flex; /* Os itens ficarão alinhados desde que  */
    justify-content: space-between; /* Deixa os itens nos cantos */
    align-items: flex-start; /* Deixa os itens no topo */
    width: 100%;
    height: 300px;
    border: 1px solid  var(--cor-principal);
    background-color: var(--cor-principal);
    color: var(--cor-terciaria);
    padding: 30px;
}

footer a img{
    max-width: 50px;
    border-style: ridge; /* Estiliza a borda da imagem */
    border-radius: 15px; /* Deixa a imagem redonda */
    border-color: var(--cor-secundaria);
}

footer a{
    text-decoration: none;
    color: var(--cor-terciaria);
}

footer ul{
    list-style: none;
}

footer h3{
    padding-top: 20px;
}

.informacoes{
    display: flex;
    flex-direction: column; /* Coloca "Endereço" e "Contato" em coluna */
}

.redes-sociais{
    display: flex;
    margin: 0;
}

.redes-sociais ul {
    display: flex;
    justify-content: flex-end;
    padding: 0;
    margin: 0;
}

.redes-sociais ul a{
    display: inline-block;
    padding-top: 20px;
    padding-left: 0px;
    margin-right: calc(10% + 25px);
}

/* Ajustes para diferentes tamanhos de tela */
@media screen and (max-width:1100px){

    .nav-item{
        margin: 0 70px;
    }

    .dropdown-menu{
        width: 620px; /* exemplo de largura fixa */
        margin-left: -255px; /* Centraliza o menu */
    }

    .carrossel{
        width: 600px;
        height: 400px;
    }

    .carrossel img{
        width: 100%;
        height: 100%;
    }

    .navegacao-manual{
        width: 600px;
    }

    .auto-navegacao{
        width: 600px;
    }

    .container{
        width: auto;
        justify-content: baseline;
    }

    figure {
        max-width: 50%; /* Calcula a largura de cada figura para caber duas na linha */
        min-width: 200px;
    }
    
    figure img {
        max-width: 40%; /* Tamanho da imagem */
        height: auto;
    }

    figure hr{
        max-width: 55%;
    }

    figcaption {
        font-size: 1rem;
    }

    figcaption p{
        font-size: 1rem;
        max-width: 60%;
    }
    
    #mapa{
        width: 70%;
        height: 300px;
    }

    footer a img{
        max-width: 40px;
        border-radius: 12px;
    }
}

@media screen and (max-width:800px){

    .menu-desktop{
        padding: 1.5rem 4rem;
    }

    .nav-item{
        display: none;
    }

    .show{
        display: flex;
        flex-wrap: wrap;
        gap: 3px 5px;
    }

    .tema{
        margin-top: -15px;
        margin-left: -50px;
    }

    .botao-menu-mobile{
        display: block;
        border: none;
        background-color: var(--cor-principal);
        color: var(--cor-terciaria);
        cursor: pointer;
        font-size: 1.5rem;
        margin-top: -10px;
        margin-right: -45px;
    }

    .menu-mobile{
        background-color: var(--cor-principal);
        color: var(--cor-terciaria);
        position: absolute; /* Permite que o menu seja posicionado em relação ao seu container */
        width: 100%; /* Ocupa a largura total do container */
        top: 215px; /* Ajuste este valor conforme necessário para descer o menu */
        left: 0; /* Garante que o menu comece na borda esquerda */
        z-index: 1; /* Garante que o menu fique acima de outros elementos */
    }

    .menu-mobile ul{
        width: 100%;
        background-color: var(--cor-principal);
        margin: 0px 10px;
        padding: 0px;
        display: flex;
        flex-direction: column;
        text-align:center;
        align-items: center;
    }

    .menu-mobile .nav-item{
        display: flex;
        margin: 0px 10px;
    }
    
    .nav-link{
        text-decoration: none;
        color: var(--cor-terciaria);
        font-weight: 400;
        font-size: 1.1rem;
        padding: 10px 15px; /* Adiciona espaçamento interno para os links */
    }
    
    .nav-link:hover{
        font-size: 1.3rem;
        transition: 0.5s;
    }

    .dropdown-menu {
        width: 483.5px; /* Largura ajustada para caber em telas pequenas */
        margin-left: -178%; /* Centraliza o menu na tela */
        margin-top: 43%; /* Faz o menu ficar abaixo de cardápio */
    }

    .botao-dropdown{
        margin-left: -9px;
    }

    .dropdown-menu a{
        font-size: 1rem;
    }

    .dropdown-menu a:hover {
        font-size: 1.2rem;
        transition: 0.5s;
    }

    .carrossel{
        width: 400px;
        height: 200px;
    }

    .carrossel img{
        width: 100%;
        height: auto;
    }

    .navegacao-manual{
        width: 400px;
        margin-top: -220px;
    }

    .manual-button:not(:last-child){
        margin-right: 20px; /*Todos os botões (menos o ultimo, "last child") terão espaçamento na direita*/
    }

    .auto-navegacao{
        width: 400px;
        margin-top: 180px;
    }

    .auto-navegacao div:not(:last-child){
        margin-right: 20px; /*Todos os botões (menos o ultimo, "last child") terão espaçamento na direita*/
    }

    .produto {
        flex: 1 1 calc(75% - 10px); /* Ajusta a largura para 25% menos a margem */
        max-width: 30%; /* Define uma largura máxima para cada produto */
        text-align: center; /* Centraliza o texto */
    }
    
    figure {
        max-width: 100%; /* Calcula a largura de cada figura para caber duas na linha */
        min-width: 200px;
    }

    figure img {
        max-width: 30%; /* Tamanho da imagem */
        height: auto;
    }

    figure hr{
        max-width: 65%;
    }

    figcaption {
        font-size: 1.2rem;
        margin-left: 10px; /* Distância da legenda até a imagem */
    }

    figcaption p{
        font-size: 1rem;
    }
    
    #mapa{
        width: 90%;
        height: 200px;
    }

    .box-formulario{
        width: 70%;
    }

    .formulario h2{
        margin: 30px;
        margin-bottom: -70px;
    }

    footer a img{
        max-width: 35px;
        border-style: ridge; 
        border-radius: 10px; /* Deixa a imagem redonda */
        border-color: var(--cor-secundaria);
    }

    .redes-sociais ul {
        display: flex;
        margin: 0;
        padding-left: 10px;
    }

    .redes-sociais ul a{
        display: inline-block;
        padding-top: 20px;
        padding-left: 0;
        margin-right: calc(10% + 15px);
    }
}
