/* Importação da fonte do Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Arima:wght@100..700&display=swap');

/* Resetando margens, preenchimentos e definindo box-sizing para todos os elementos */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Arima", sans-serif; /*Fontes que serão utilizadas*/
}

/* Definindo cores principais da paleta para fácil manutenção */
:root{
    --cor-principal: rgb(56, 133, 124); /*Cor para fachada e rodapé*/
    --cor-secundaria: rgb(255, 255, 255); /*Cor para o body*/
    --cor-terciaria: rgb(255,255,255); /*Cor para o contraste com a primária*/
    --cor-fonte: rgb(0,0,0); /*Cor para a fonte de conteúdo*/
}

/* Estilizando o cabeçalho do site */
header{
    width: 100%;
    height: 220px;
    border: 1px solid var(--cor-principal);
    background-color:  var(--cor-principal);
    color: var(--cor-terciaria);
    text-align: center;
}

/* Estilizando o botão para mudar o tema */
.tema{ 
    padding: 4px;
    margin: 8px;
    border: none;
    background-color: var(--cor-principal);
    color: var(--cor-terciaria);
    font-size: 1.5rem;
}

.tema:hover{
    font-size: 1.6rem;
    transition:font-size 1s; /*Transição para o aumento da fonte*/
    cursor: pointer;
}

.logo{
    margin:0;
    padding-top: 5px;
    height: 150px;
}

/* Estilizando o menu de navegação em desktop */
.menu-desktop{
    display: flex; /*Deixa os itens lado a lado quando há espaço*/
    justify-content: space-between; /*Espaçamento do conteúdo*/
    width: 100%;
}

.nav-list{
    display: flex;
    align-items: center;
    justify-content: center; /*Centraliza os itens*/
    width: 100%; /*Faz com que utilize toda a largura disponível*/
}

.nav-list ul{ /*Acessa a lista de nav-list*/
    display: flex;
    justify-content: center;
    list-style: none; /*Remove o sublinhado*/
    padding: 10px 0px;
    margin: 0;
    margin-right: 40px;
}

.nav-item{
    margin: 0 100px;
}

.nav-link{
    text-decoration: none;
    color: var(--cor-terciaria);
    font-weight: 500;
    font-size: 1.5rem;
}

.nav-link:hover{
    font-size: 1.6rem;
    transition: 0.5s;
}

.conteudo{
    min-height: 100vh; /*Comprimento min.*/
    font-weight: 400;
    border: 1px solid var(--cor-secundaria);
    background-color: var(--cor-secundaria);
    color: var(--cor-fonte);
    padding: 20px; /*Espaçamento*/
}

.local{
    display: flex;
    justify-content: center;
    align-items: center;
}

#mapa{
    width: 50%; /* O mapa ocupa 50% da tela */
    height: 300px;
}

#mapa iframe{
    width: 100%;
    height: 100%;
}

.container{
    width: 18%; /* Ocupa apenas 18% da tela */
    padding-top: 3px;
    padding-left: 10px;
    margin: 0; /* Gruda com o hr */
    border-color: var(--cor-principal);
    background-color: var(--cor-principal);
    text-align: left;
    color: var(--cor-terciaria);
}

hr{
    border: 1px;
    margin: 0; /*Deixando grudado ao container*/
    height: 2px;
    background-color: var(--cor-principal);
    width: 100%;
}

/* Configurando o layout do container de imagens */
.image-container {
    display: flex;
    flex-wrap: wrap; /* Permite que as figuras se movam para a linha seguinte */
    justify-content: space-between; /* Distribui o espaço entre as figuras */
    margin: 30px; /* Espaçamento entre as imagens */
}

figure {
    display: flex;
    align-items: center; /* Alinha verticalmente imagem e legenda */
    width: calc(45% - 15px); /* Calcula a largura de cada figura para caber duas na linha */
    margin-bottom: 20px; /* Espaçamento entre as linhas */
    margin-left: 5%;
}

figure hr{
    width: calc(250% - 15px); /* torna o hr responsivo */
}

figure img {
    max-width: 20%; /* Tamanho da imagem */
    height: auto;
}

figcaption {
    font-size: larger;
    margin-left: 10px; /* Distância da legenda até a imagem */
    margin-top: -50px;
}

.carrossel{
    margin: 30px auto;
    width: 800px;
    height: 400px;
    overflow: hidden; /*Esconde as outras imagens*/
}

.slides{
    width: 400%;
    height: 400px;
    display: flex; /*Deixa as imagens lado a lado*/
}

.slides input{
    display:none; /*Esconde os botões*/
}

.slide{
    width: 25%; /*As imagens ocupam 25% do tamanho total*/
    position: relative; /*Faz com que as imagens se movam*/
    transition: 2s; /*Atrasa a transição*/
}

.slide img{
    width: 800px;
}

.navegacao-manual{
    position: absolute;
    width: 800px;
    margin-top: -40px; /*Margem em relação ao topo da imagem*/
    display: flex;
    justify-content: center;
}

.manual-button{
    border: 2px solid #FFF;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer; /*Muda o cursor*/
    transition: 1s;
}

.manual-button:not(:last-child){
    margin-right: 40px; /*Todos os botões (menos o ultimo, "last child") terão espaçamento na direita*/
}

.manual-button:hover{
    background-color: #FFF; /*Quando o cursor estiver em cima, o fundo mudará de cor*/
    transition: 1s;
}

/*CRIANDO O DESLIZE DE IMAGENS*/
#radio1:checked ~ .first{
    margin-left: 0; /*Quando o primeiro botão estiver pressionado, a margem será 0*/
}

#radio2:checked ~ .first{
    margin-left: -25%; /*Quando o segundo botão estiver pressionado, a margem será -25*/
}

#radio3:checked ~ .first{
    margin-left: -50%; /*Quando o terceiro botão estiver pressionado, a margem será -50*/
}

#radio4:checked ~ .first{
    margin-left: -75%; /*Quando o quarto botão estiver pressionado, a margem será -75*/
}

.auto-navegacao div{ /*Define a aparencia de todos os elementos dentro da div*/
    border: 2px solid #2600ff;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.auto-navegacao{
    position: absolute;
    width: 800px;
    margin-top: 360px; /*Margem em relação ao topo da página*/
    display: flex;
    justify-content: center;
}

.auto-navegacao div:not(:last-child){
    margin-right: 40px; /*Todos os botões (menos o ultimo, "last child") terão espaçamento na direita*/
}

#radio1:checked ~ .auto-navegacao .auto-button1{
    background-color: #FFF; /*Muda o fundo do botão*/
}

#radio2:checked ~ .auto-navegacao .auto-button2{
    background-color: #FFF; /*Muda o fundo do botão*/
}

#radio3:checked ~ .auto-navegacao .auto-button3{
    background-color: #FFF; /*Muda o fundo do botão*/
}

#radio4:checked ~ .auto-navegacao .auto-button4{
    background-color: #FFF; /*Muda o fundo do botão*/
}

/* Estilizando o rodapé da página */
footer{
    display: flex; /* Os itens ficarão alinhados desde que  */
    justify-content: space-between; /* Deixa os itens nos cantos */
    align-items: flex-start; /* Deixa os itens no topo */
    width: 100%;
    height: 300px;
    border: 1px solid  var(--cor-principal);
    background-color: var(--cor-principal);
    color: var(--cor-terciaria);
    padding: 30px;
}

footer a img{
    max-width: 50px;
    border-style:ridge; /* Estiliza a borda da imagem */
    border-radius: 15px; /* Deixa a imagem redonda */
    border-color: var(--cor-secundaria);
}

footer a{
    text-decoration: none;
    color: var(--cor-terciaria);
}

footer ul{
    list-style: none;
}

footer h3{
    padding-top: 20px;
}

.informacoes{
    display: flex;
    flex-direction: column; /* Coloca "Endereço" e "Contato" em coluna */
}

.redes-sociais{
    display: flex;
}

.redes-sociais ul {
    display: flex;
    justify-content: flex-end;
    padding: 0;
    margin: 0;
}

.redes-sociais ul a{
    display: block;
    padding-top: 20px;
    padding-left: 15px;
}

/* Ajustes para diferentes tamanhos de tela */
@media screen and (max-width:1080px){

    .nav-item{
        margin: 0 70px;
    }

    .carrossel{
        width: 600px;
        height: 400px;
    }

    .carrossel img{
        width: 100%;
        height: 100%;
    }

    .container{
        width: auto;
        justify-content: baseline;
    }

    figure {
        width: calc(45% - 15px); /* Faz com que cada figura ocupe toda a largura */
        margin-left: 5%;
    }
    
    figure img {
        max-width: 30%; /* Tamanho da imagem */
        height: auto;
    }

    figure hr{
        width: calc(150% - 15px);
    }
}

@media screen and (max-width:780px){
    
    .menu-desktop{
        display: none;
    }

    .carrossel{
        width: 400px;
        height: 200px;
    }

    .carrossel img{
        width: 100%;
        height: 100%;
    }

    figure {
        width: calc(95% - 15px); /* Faz com que cada figura ocupe toda a largura */
        margin-left: 5%;
    }

    figure img {
        max-width: 30%; /* Tamanho da imagem */
        height: auto;
    }

    figure hr{
        width: calc(150% - 15px);
    }
}
